# Ignore all real env files
variables/env_dev.yaml
variables/env_pro.yaml
variables/env_staging.yaml
variables/env_staging.yaml
variables/test_data_dev.yaml


# But keep example files
!variables/*.env_example.yaml

#Ignore reports
reports/

#Ignore python test files
libraries/BasicInteraction.py
libraries/__pycache__